[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "maq"]
	path = maq
	url = https://github.com/cran/maq
[submodule "policytree"]
	path = policytree
	url = https://github.com/cran/policytree
